.category-form-container{
 width: 85%;
 height: auto; 
 position: absolute;
 top: 373px;
}

.category-form-row{
  background-color:white;
  height:47px;
  width: 100%;
  font-family:Montserrat;
  font-weight:500;
}

.category-form-label{
  font-size:14px;
  left:0;
}

.category-form-switch{
  right:0;
}