.person-icon{
  height:160px;
  width:160px;
  position: absolute;
  top:134px;
}

.hero-text-container{
  height:50px;
  width:345px;
  font-family: 'Neuton';
  font-weight:bold;
  font-size: 18px;
  line-height: 140%;
  font-style: normal;
  letter-spacing: 0.21px;
  position: absolute;
  top: 303px;
}