.labor-form-container{
  height:160px;
  width: 100%;
  margin-top:2px;
}

.labor-form-row{
  height: 50px;
  width: 100%;
  background-color:white;
}


.labor-form-label{
  font-family: Montserrat;
  font-weight:bold;
  font-size:12px;
  color: #001C47;
  margin-left:40px;
}

.labor-form-val{
  right:0;
  font-family: Montserrat;
  font-weight:bold;
  font-size:11px;
  color: #787878;
  margin-right:40px;
}

.labor-form-bottom-container{
  height:50px;
  width:100%;
  margin-top:50px;
}