.labor-form-container{
  position: absolute;
  height:300px;
  border:1px solid black;
  width: 90%;
  top: 164px;
}

.labor-form-row{
  border:1px solid black;
  height: 100px;
  width: 100%;
}

.labor-form-top-container{
  margin-top:-25px;
  height:50px;
  width:100%;
}

.labor-form-label{
  font-family: Montserrat;
  font-weight:500;
  font-size:12px;
  color: #001C47
}

.labor-form-val{
  right:0;
  font-family: Montserrat;
  font-weight:500;
  font-size:11px;
  color: #787878;
}

.labor-form-bottom-container{
  height:50px;
  width:100%;
  margin-top:50px;
}