.slider-container{
  width:100vw;
  height: calc(100% - (40vh + 50px));
}

.slider{
  width:90%;
  background-color:white;
  max-width:1200px;
  height:50px;
}

.slider-name{
  left:0;
  font-family: Montserrat;
  font-weight: 500;
}

.slider-switch-wrap{
  right:0;
}

.slider-switch{
  font-family: Montserrat;
  font-weight: 500;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius:2px;
  height:30px;
  width: 55px;
}

.slider-switch-text{
  
  margin-top:2px;
  height: 26px;
  width: 55px;
  color:white;
  background-color: #6A6A6A;
  font-size: calc(10px + 0.4vw);
}

.slider-switch-mark{
  height:40%;
  border:1px solid #E5E5E5;
  margin-left:8px;
}
