.switch-container{
  right:0;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  right:0;
  width: 110px;
  height: 25px;
  border-radius:2px;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* The slider */
.slider {
  border-radius:2px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6A6A6A;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 55px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top:-3px;
}

input:checked + .slider {
  background-color: #31AD65;
}


input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.slider:after
{
 content:'No';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 75%;
 font-size: 12px;
 font-weight:500;
 font-family: Montserrat;
}

input:checked + .slider:after
{  
  content:'Yes';
  left:25%;
}

