.tab-container{
  height:50px;
  width: 100%;
  border-bottom:2px solid #E0E0E0;
}

.tab{
  margin-top:4px;
  font-family: Montserrat;
  font-weight:500;
  flex:1;
  letter-spacing: 0.17px;
  font-size: 14px;
  color: #8B8B8B
}